*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
h1.container{
	text-align: center;
	margin-bottom:50px;
}
.menu{
	display:flex;
	flex-wrap:wrap;
	width:auto;
	margin-top:50px;
}
.item{
	background-color:blue;
	border:1px solid black;	
	margin:5px;
	margin-bottom:15px;
	width:500px;
	padding:30px;
	position:relative;
}
p.item{
	margin-top:40px;
	justufy-content: center;
}
h3{
	border:1px solid black;
	position:absolute;
	top:0;
	right:0;
}	
.box1{ 
	background-color:red; 
}
.box2{ 
	background-color:pink;
}
.box3{ 
	background-color:green;
}
